.product__name {
  text-align: center;
}

.btn {
  width: 250px;
  font-size: 18px;
  height: 50px;
  color: #ffffff;
  background: #000000;
  border: none;
  margin-top: auto;
  outline: #000000;
}

.btn:hover {
  cursor: pointer;
  border: 2px solid #ffffff;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  min-height: 250px;
  margin-top: 40px;
  width: 325px;
  background: #f1f1f1;
  box-shadow: 10px 2px 2px 3px #b3b3b3;
}

.product__price {
  margin-bottom: 10px;
}

.product__descr {
  margin-bottom: 20px;
  min-height: 99px;
}

.product__img {
  text-align: center;
}
